<footer>

    <div class="footer-inner">

        <div class="f f1">
            <h3>Business</h3>


            <a href="#">Terms of use</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Agreements</a>

        </div>

        <div class="f f2">

            <h3>Contact</h3>

            <a href="#">Email</a>
            <a href="#">Street</a>
            <a href="#">Phone Number</a>

        </div>

        <div class="f f3">

            <h3>Social Media</h3>

            <a href="#">Twitter</a>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>

        </div>

    </div>
</footer>