<!-- Modals -->

<!-- Burger Modal -->

<div class="burger-modal modal modal-content">

    <div class="burger-modal-menu">
        <a class="account-info-link">Account Info</a>
        <a href="/order" class="shopping-cart-link">Shopping Cart</a>
        <a class="search-link">Search</a>
        <a href="/items?gender=male" class="burger-modal-male">Male</a>
        <a href="/items?gender=female">Female</a>
    </div>

    <% if(user===null) { %>
        <div class="burger-modal-btns">

            <a href="/login" class="loginBtn">Login</a>
            <a href="/register" class="registerBtn">Register</a>

        </div>
    <% } else { %>
        <a href="/logout">
            <svg class="logout" width="32" height="32" viewBox="0 0 32 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M15.9469 29.289H3.98669C3.25312 29.289 2.65781 28.6937 2.65781 27.9602V4.03985C2.65781 3.30629 3.25319 2.71097 3.98669 2.71097H15.9469C16.6817 2.71097 17.2757 2.11698 17.2757 1.3821C17.2757 0.647225 16.6817 0.0531006 15.9469 0.0531006H3.98669C1.78869 0.0531006 0 1.84185 0 4.03985V27.9601C0 30.1581 1.78869 31.9468 3.98669 31.9468H15.9469C16.6817 31.9468 17.2757 31.3528 17.2757 30.6179C17.2757 29.883 16.6817 29.289 15.9469 29.289Z"
                    fill="#EFF2F7" />
                <path
                    d="M31.6041 15.0538L23.5243 7.0804C23.0034 6.56477 22.1609 6.57146 21.6453 7.09371C21.1297 7.61596 21.135 8.45715 21.6586 8.97277L27.4327 14.6711H11.9602C11.2253 14.6711 10.6313 15.2651 10.6313 16C10.6313 16.7348 11.2253 17.3289 11.9602 17.3289H27.4327L21.6586 23.0272C21.135 23.5428 21.131 24.384 21.6453 24.9063C21.9057 25.1694 22.2486 25.3023 22.5915 25.3023C22.929 25.3023 23.2665 25.1747 23.5243 24.9195L31.6041 16.9461C31.8566 16.6963 32.0001 16.356 32.0001 15.9999C32.0001 15.6439 31.8579 15.305 31.6041 15.0538Z"
                    fill="#EFF2F7" />
            </svg>
        </a>
    <% } %>

</div>


<div class="search-modal modal search">

    <div class="search-cont">
        <input type="text" name="search" class="searchInp" placeholder="Search..." autocomplete="off">

        <div class="svg-cont">
            <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M51.3067 48.2746L38.6927 35.1553C41.936 31.2998 43.713 26.4488 43.713 21.3987C43.713 9.59966 34.1133 0 22.3143 0C10.5152 0 0.915527 9.59966 0.915527 21.3987C0.915527 33.1978 10.5152 42.7975 22.3143 42.7975C26.7438 42.7975 30.9649 41.4614 34.5739 38.9252L47.2838 52.1441C47.815 52.6958 48.5296 53 49.2953 53C50.02 53 50.7076 52.7237 51.2295 52.2213C52.3385 51.1541 52.3739 49.3845 51.3067 48.2746ZM22.3143 5.58228C31.0356 5.58228 38.1307 12.6774 38.1307 21.3987C38.1307 30.1201 31.0356 37.2152 22.3143 37.2152C13.5929 37.2152 6.4978 30.1201 6.4978 21.3987C6.4978 12.6774 13.5929 5.58228 22.3143 5.58228Z"
                    fill="#EFF2F7" fill-opacity="0.45" />
            </svg>
        </div>
    </div>

    <div class="search-results">

        <div class="loader loader-off">
            <div class="loader-dot ldot1"></div>
            <div class="loader-dot ldot2"></div>
            <div class="loader-dot ldot3"></div>
        </div>
    </div>

</div>


<!-- User Modal -->
<div class="user-modal modal modal-content user">

    <% if(user !== null) {%>
    <div class="user-modal-upper">
        <h2><%= user.name %></h2>
        <div class="svg-cont">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M20.9542 14.9104C22.8447 13.5105 24.0758 11.2448 24.0758 8.6923C24.0758 4.45076 20.6773 1 16.5 1C12.3227 1 8.92423 4.45076 8.92423 8.6923C8.92423 11.2448 10.1553 13.5105 12.0458 14.9104C7.34626 16.7365 4 21.3631 4 26.7692C4 29.1021 5.86916 31 8.16667 31H24.8333C27.1308 31 29 29.1021 29 26.7692C29 21.3631 25.6537 16.7365 20.9542 14.9104ZM11.197 8.6923C11.197 5.72324 13.5759 3.30771 16.5 3.30771C19.4241 3.30771 21.803 5.72324 21.803 8.6923C21.803 11.6614 19.4241 14.077 16.5 14.077C13.5759 14.077 11.197 11.6614 11.197 8.6923ZM24.8333 28.6923H8.16667C7.12236 28.6923 6.27275 27.8296 6.27275 26.7692C6.27275 21.043 10.8606 16.3846 16.5001 16.3846C22.1395 16.3846 26.7274 21.043 26.7274 26.7692C26.7273 27.8296 25.8777 28.6923 24.8333 28.6923Z"
                    fill="#EFF2F7" />
            </svg>
        </div>
    </div>


    <div class="acc-info">

        <div class="i-username info">
            <div class="i-icon-cont">
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4415 8.85308C13.564 8.02184 14.295 6.67658 14.295 5.16106C14.295 2.64264 12.2771 0.59375 9.79688 0.59375C7.31661 0.59375 5.29876 2.64264 5.29876 5.16106C5.29876 6.67658 6.0297 8.02184 7.15222 8.85308C4.36184 9.93731 2.375 12.6844 2.375 15.8942C2.375 17.2794 3.48481 18.4062 4.84896 18.4062H14.7448C16.1089 18.4062 17.2188 17.2794 17.2188 15.8942C17.2188 12.6844 15.2319 9.93731 12.4415 8.85308ZM6.64821 5.16106C6.64821 3.39818 8.0607 1.96396 9.79688 1.96396C11.533 1.96396 12.9455 3.39818 12.9455 5.16106C12.9455 6.92394 11.533 8.35819 9.79688 8.35819C8.0607 8.35819 6.64821 6.92394 6.64821 5.16106ZM14.7448 17.036H4.84896C4.2289 17.036 3.72445 16.5238 3.72445 15.8942C3.72445 12.4943 6.44849 9.72833 9.79691 9.72833C13.1453 9.72833 15.8694 12.4943 15.8694 15.8942C15.8693 16.5238 15.3649 17.036 14.7448 17.036Z" fill="#5D6167"/>
                </svg>                    
            </div>

            <h4><%= user.name + ' ' + user.lastName %></h4>
        </div>

        <div class="i-email info">
            <div class="i-icon-cont">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <path d="M11.9321 9.09224L18.0004 12.9285V5.09399L11.9321 9.09224Z" fill="#5D6167"/>
                    <path d="M0 5.09399V12.9285L6.06825 9.09224L0 5.09399Z" fill="#5D6167"/>
                    <path d="M16.8752 2.8125H1.12519C0.563811 2.8125 0.118311 3.231 0.0339355 3.76988L9.00019 9.67725L17.9664 3.76988C17.8821 3.231 17.4366 2.8125 16.8752 2.8125Z" fill="#5D6167"/>
                    <path d="M10.9011 9.77175L9.30926 10.8203C9.21476 10.8821 9.10789 10.9125 8.99989 10.9125C8.89189 10.9125 8.78501 10.8821 8.69051 10.8203L7.09864 9.77063L0.0358887 14.238C0.122514 14.7724 0.565764 15.1875 1.12489 15.1875H16.8749C17.434 15.1875 17.8773 14.7724 17.9639 14.238L10.9011 9.77175Z" fill="#5D6167"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="18" height="18" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>                    
            </div>

            <h4><%= user.email %></h4>
        </div>

        <div class="i-permission info">
            <div class="i-icon-cont">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.0001 0.916687C7.95326 0.916687 5.50008 3.36986 5.50008 6.41669V7.33335C4.49175 7.33335 3.66675 8.15835 3.66675 9.16669V18.3334C3.66675 19.3417 4.49175 20.1667 5.50008 20.1667H16.5001C17.5084 20.1667 18.3334 19.3417 18.3334 18.3334V9.16669C18.3334 8.15835 17.5084 7.33335 16.5001 7.33335V6.41669C16.5001 3.36986 14.0469 0.916687 11.0001 0.916687ZM11.0001 2.75002C13.0866 2.75002 14.6667 4.33018 14.6667 6.41669V7.33335H7.33341V6.41669C7.33341 4.33018 8.91357 2.75002 11.0001 2.75002ZM11.0001 11.9167C12.0084 11.9167 12.8334 12.7417 12.8334 13.75C12.8334 14.7584 12.0084 15.5834 11.0001 15.5834C9.99175 15.5834 9.16675 14.7584 9.16675 13.75C9.16675 12.7417 9.99175 11.9167 11.0001 11.9167Z" fill="#5D6167"/>
                </svg>                    
            </div>

            <h4><%= user.permission %></h4>
        </div>

    </div>

    <a href="/lastOrders" class="last-orders-btn m-btn">Last Orders</a>
    <% if(user.permission == 'admin'){ %>
        <a href="/dashboard" class="dashboard-btn m-btn">Admin Dashboard</a>
    <% } %>

    <div class="user-bottom">

        <a href="/logout">
            <svg class="logout" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M15.9469 29.289H3.98669C3.25312 29.289 2.65781 28.6937 2.65781 27.9602V4.03985C2.65781 3.30629 3.25319 2.71097 3.98669 2.71097H15.9469C16.6817 2.71097 17.2757 2.11698 17.2757 1.3821C17.2757 0.647225 16.6817 0.0531006 15.9469 0.0531006H3.98669C1.78869 0.0531006 0 1.84185 0 4.03985V27.9601C0 30.1581 1.78869 31.9468 3.98669 31.9468H15.9469C16.6817 31.9468 17.2757 31.3528 17.2757 30.6179C17.2757 29.883 16.6817 29.289 15.9469 29.289Z"
                    fill="#EFF2F7" />
                <path
                    d="M31.6041 15.0538L23.5243 7.0804C23.0034 6.56477 22.1609 6.57146 21.6453 7.09371C21.1297 7.61596 21.135 8.45715 21.6586 8.97277L27.4327 14.6711H11.9602C11.2253 14.6711 10.6313 15.2651 10.6313 16C10.6313 16.7348 11.2253 17.3289 11.9602 17.3289H27.4327L21.6586 23.0272C21.135 23.5428 21.131 24.384 21.6453 24.9063C21.9057 25.1694 22.2486 25.3023 22.5915 25.3023C22.929 25.3023 23.2665 25.1747 23.5243 24.9195L31.6041 16.9461C31.8566 16.6963 32.0001 16.356 32.0001 15.9999C32.0001 15.6439 31.8579 15.305 31.6041 15.0538Z"
                    fill="#EFF2F7" />
            </svg>
        </a>

    </div>

    <% } else { %>
        
        <div class="notLogged-mobile-btns">
            <a href="/login" class="loginBtn notLogged-btn">Login</a>
            <a href="/register" class="registerBtn notLogged-btn">Register</a>
        </div>
        
    <% } %>
</div>


<!-- Cart Modal -->
<div class="cart-modal modal cart">

    <div class="cart-upper">
        <h2>Your Cart</h2>

        <div class="cart-icon-cont">
            
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path
                        d="M8.93194 21.7789C7.31749 21.7789 6.00879 23.0877 6.00879 24.7021C6.00879 26.3165 7.31755 27.6252 8.93194 27.6252C10.5464 27.6252 11.8551 26.3165 11.8551 24.7021C11.8551 23.0877 10.5464 21.7789 8.93194 21.7789ZM8.93194 26.3261C8.03504 26.3261 7.30798 25.599 7.30798 24.7021C7.30798 23.8052 8.03504 23.0782 8.93194 23.0782C9.82884 23.0782 10.5559 23.8052 10.5559 24.7021C10.556 25.599 9.82884 26.3261 8.93194 26.3261Z"
                        fill="#EFF2F7" />
                    <path
                        d="M21.2742 21.7789C19.6598 21.7789 18.3511 23.0877 18.3511 24.7021C18.3511 26.3165 19.6598 27.6252 21.2742 27.6252C22.8886 27.6252 24.1974 26.3165 24.1974 24.7021C24.1974 23.0877 22.8887 21.7789 21.2742 21.7789ZM21.2742 26.3261C20.3773 26.3261 19.6503 25.599 19.6503 24.7021C19.6503 23.8052 20.3773 23.0782 21.2742 23.0782C22.1711 23.0782 22.8982 23.8052 22.8982 24.7021C22.8982 25.599 22.1711 26.3261 21.2742 26.3261Z"
                        fill="#EFF2F7" />
                    <path
                        d="M27.8676 4.72709C27.7323 4.57932 27.5472 4.48681 27.3479 4.46723L6.20364 4.17491L5.61901 2.38851C5.20715 1.19432 4.08887 0.388122 2.82573 0.374756H0.649596C0.290823 0.374756 0 0.665579 0 1.02435C0 1.38312 0.290823 1.67395 0.649596 1.67395H2.82573C3.53203 1.68955 4.15396 2.14307 4.38479 2.81076L8.50971 15.2505L8.18495 15.9975C7.82269 16.9316 7.93149 17.983 8.47726 18.8232C9.01781 19.6485 9.92721 20.1577 10.9133 20.1874H23.5479C23.9067 20.1874 24.1975 19.8966 24.1975 19.5378C24.1975 19.179 23.9067 18.8882 23.5479 18.8882H10.9132C10.3564 18.8743 9.84378 18.5813 9.54904 18.1087C9.2576 17.6418 9.19773 17.0666 9.38666 16.5496L9.64652 15.965L23.3205 14.5359C24.8225 14.3704 26.058 13.278 26.4061 11.8076L27.9651 5.27914C28.0354 5.09115 27.9981 4.87971 27.8676 4.72709ZM25.1393 11.5153C24.9285 12.4619 24.1248 13.1601 23.1581 13.2367L9.64652 14.6333L6.62589 5.4741L26.536 5.76642L25.1393 11.5153Z"
                        fill="#EFF2F7" />
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="28" height="28" fill="white" />
                    </clipPath>
                </defs>
            </svg>

        </div>

    </div>

    <div class="cart-items">

    </div>

    <div class="cart-total-cont">

        <h3>Total</h3>
        <h2 class="total">149.94$</h2>

    </div>

    <div class="cart-btns">

        <a class="order" href="/order">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M22.2656 3.90625H2.73438C1.22666 3.90625 0 5.13291 0 6.64062V18.3594C0 19.8671 1.22666 21.0938 2.73438 21.0938H22.2656C23.7733 21.0938 25 19.8671 25 18.3594V6.64062C25 5.13291 23.7733 3.90625 22.2656 3.90625ZM2.73438 5.46875H22.2656C22.9118 5.46875 23.4375 5.99448 23.4375 6.64062V8.20312H1.5625V6.64062C1.5625 5.99448 2.08823 5.46875 2.73438 5.46875ZM22.2656 19.5312H2.73438C2.08823 19.5312 1.5625 19.0055 1.5625 18.3594V9.76562H23.4375V18.3594C23.4375 19.0055 22.9118 19.5312 22.2656 19.5312Z"
                    fill="#0D0F11" />
                <path
                    d="M5.46875 17.1875H4.6875C4.25605 17.1875 3.90625 16.8377 3.90625 16.4062V15.625C3.90625 15.1936 4.25605 14.8438 4.6875 14.8438H5.46875C5.9002 14.8438 6.25 15.1936 6.25 15.625V16.4062C6.25 16.8377 5.9002 17.1875 5.46875 17.1875Z"
                    fill="#0D0F11" />
            </svg>
            <span>Order</span>
        </a>
        <button class="delete">
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path
                        d="M14.6724 8.33294C14.3749 8.33294 14.1338 8.57406 14.1338 8.87158V19.0519C14.1338 19.3492 14.3749 19.5905 14.6724 19.5905C14.9699 19.5905 15.2111 19.3492 15.2111 19.0519V8.87158C15.2111 8.57406 14.9699 8.33294 14.6724 8.33294Z"
                        fill="#6D7074" />
                    <path
                        d="M8.31647 8.33294C8.01896 8.33294 7.77783 8.57406 7.77783 8.87158V19.0519C7.77783 19.3492 8.01896 19.5905 8.31647 19.5905C8.61399 19.5905 8.85511 19.3492 8.85511 19.0519V8.87158C8.85511 8.57406 8.61399 8.33294 8.31647 8.33294Z"
                        fill="#6D7074" />
                    <path
                        d="M3.68412 6.84724V20.1182C3.68412 20.9026 3.97175 21.6392 4.4742 22.1678C4.97433 22.6978 5.67036 22.9987 6.39878 22.9999H16.59C17.3186 22.9987 18.0147 22.6978 18.5146 22.1678C19.017 21.6392 19.3047 20.9026 19.3047 20.1182V6.84724C20.3035 6.58213 20.9507 5.61721 20.8171 4.59232C20.6833 3.56764 19.8103 2.80113 18.7768 2.80092H16.019V2.12762C16.0221 1.56142 15.7983 1.01773 15.3974 0.617743C14.9966 0.217972 14.4521 -0.00463827 13.8859 -9.33576e-06H9.10292C8.53672 -0.00463827 7.99219 0.217972 7.59136 0.617743C7.19054 1.01773 6.96667 1.56142 6.96982 2.12762V2.80092H4.21203C3.17852 2.80113 2.30554 3.56764 2.17172 4.59232C2.03811 5.61721 2.68532 6.58213 3.68412 6.84724ZM16.59 21.9226H6.39878C5.47783 21.9226 4.7614 21.1315 4.7614 20.1182V6.89458H18.2274V20.1182C18.2274 21.1315 17.511 21.9226 16.59 21.9226ZM8.0471 2.12762C8.04353 1.84715 8.15378 1.5772 8.35282 1.3792C8.55166 1.18121 8.82224 1.07243 9.10292 1.07727H13.8859C14.1666 1.07243 14.4371 1.18121 14.636 1.3792C14.835 1.57699 14.9453 1.84715 14.9417 2.12762V2.80092H8.0471V2.12762ZM4.21203 3.8782H18.7768C19.3122 3.8782 19.7463 4.31227 19.7463 4.84775C19.7463 5.38323 19.3122 5.8173 18.7768 5.8173H4.21203C3.67655 5.8173 3.24248 5.38323 3.24248 4.84775C3.24248 4.31227 3.67655 3.8782 4.21203 3.8782Z"
                        fill="#6D7074" />
                    <path
                        d="M11.4947 8.33294C11.1972 8.33294 10.9561 8.57406 10.9561 8.87158V19.0519C10.9561 19.3492 11.1972 19.5905 11.4947 19.5905C11.7922 19.5905 12.0333 19.3492 12.0333 19.0519V8.87158C12.0333 8.57406 11.7922 8.33294 11.4947 8.33294Z"
                        fill="#6D7074" />
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="23" height="23" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </button>

    </div>

    <div class="cart-help">

        <p class="needhelp">Need help with something?</p>
        <svg width="81" height="81" viewBox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
                <path
                    d="M6.4994 53.1672C11.4585 53.1672 16.3278 52.3916 20.9421 50.8667C23.2031 50.0955 25.9826 50.803 27.3626 52.2203L36.4702 59.0956C47.0325 53.4575 53.5387 46.9534 59.0998 36.4705L52.4268 27.6001C50.6931 25.8687 50.0713 23.3396 50.8163 20.9666C52.3477 16.328 53.1257 11.4611 53.1257 6.49983C53.1255 2.91579 56.0412 0 59.6251 0H74.5004C78.0842 0 81 2.91579 81 6.49962C81 47.5797 47.5795 81 6.4994 81C2.91558 81 -0.000213623 78.0842 -0.000213623 74.5004V59.6666C0 56.083 2.91579 53.1672 6.4994 53.1672Z"
                    fill="white" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="81" height="81" fill="white" transform="matrix(-1 0 0 1 81 0)" />
                </clipPath>
            </defs>
        </svg>

        <p class="callus">Call us at</p>
        <h4>921-241-102</h4>

    </div>

    <% if(user != null && user != undefined) {%>
        <a href="/logout" class="logout-a">
        <svg class="logout" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M15.9469 29.289H3.98669C3.25312 29.289 2.65781 28.6937 2.65781 27.9602V4.03985C2.65781 3.30629 3.25319 2.71097 3.98669 2.71097H15.9469C16.6817 2.71097 17.2757 2.11698 17.2757 1.3821C17.2757 0.647225 16.6817 0.0531006 15.9469 0.0531006H3.98669C1.78869 0.0531006 0 1.84185 0 4.03985V27.9601C0 30.1581 1.78869 31.9468 3.98669 31.9468H15.9469C16.6817 31.9468 17.2757 31.3528 17.2757 30.6179C17.2757 29.883 16.6817 29.289 15.9469 29.289Z"
                fill="#EFF2F7" />
            <path
                d="M31.6041 15.0538L23.5243 7.0804C23.0034 6.56477 22.1609 6.57146 21.6453 7.09371C21.1297 7.61596 21.135 8.45715 21.6586 8.97277L27.4327 14.6711H11.9602C11.2253 14.6711 10.6313 15.2651 10.6313 16C10.6313 16.7348 11.2253 17.3289 11.9602 17.3289H27.4327L21.6586 23.0272C21.135 23.5428 21.131 24.384 21.6453 24.9063C21.9057 25.1694 22.2486 25.3023 22.5915 25.3023C22.929 25.3023 23.2665 25.1747 23.5243 24.9195L31.6041 16.9461C31.8566 16.6963 32.0001 16.356 32.0001 15.9999C32.0001 15.6439 31.8579 15.305 31.6041 15.0538Z"
                fill="#EFF2F7" />
        </svg>
        </a>
    <% } %>

</div>



<div class="modal-bg"></div>



















<!-- Header -->
<header>

    <!-- logo -->
    <div class="logo">
        <a href="/">
            <svg class="logo-svg" width="123" height="28" viewBox="0 0 123 28" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.929688 28V0.0703125H4.54297V9.71875C6.28776 8.23438 8.41667 7.49219 10.9297 7.49219C16.0469 7.49219 18.6055 10.0378 18.6055 15.1289V28H14.9922V15.0703C14.9922 12.0234 13.4753 10.5 10.4414 10.5C8.37109 10.5 6.40495 11.3659 4.54297 13.0977V28H0.929688ZM50.5586 17.668C50.5586 22.6029 52.6094 25.0703 56.7109 25.0703C60.8125 25.0703 62.8633 22.6029 62.8633 17.668C62.8633 12.8372 60.8125 10.4219 56.7109 10.4219C52.6094 10.4219 50.5586 12.8372 50.5586 17.668ZM46.9453 17.7461C46.9453 10.9102 50.2005 7.49219 56.7109 7.49219C63.2214 7.49219 66.4766 10.9102 66.4766 17.7461C66.4766 24.569 63.2214 27.9805 56.7109 27.9805C50.2266 27.9805 46.9714 24.569 46.9453 17.7461ZM85.1289 11.6719C83.6706 10.9688 82.0039 10.6172 80.1289 10.6172C76.0013 10.6172 73.9375 12.8112 73.9375 17.1992C73.9375 22.3945 76.0013 24.9922 80.1289 24.9922C82.0039 24.9922 83.6706 24.7383 85.1289 24.2305V11.6719ZM88.7422 26.7695C86.2552 27.5898 83.1888 28 79.543 28C73.4362 28 70.3828 24.4453 70.3828 17.3359C70.3828 10.7734 73.625 7.49219 80.1094 7.49219C81.8802 7.49219 83.5534 7.81771 85.1289 8.46875V0.0703125H88.7422V26.7695ZM98.6055 7.49219V28H94.9922V7.49219H98.6055ZM98.6055 0.0703125V3.48828H94.9922V0.0703125H98.6055ZM113.332 7.49219C119.165 7.49219 122.082 10.3763 122.082 16.1445C122.082 16.9648 122.023 17.8438 121.906 18.7812H107.512C107.512 22.974 109.96 25.0703 114.855 25.0703C117.186 25.0703 119.257 24.8099 121.066 24.2891V27.2188C119.257 27.7396 117.056 28 114.465 28C107.421 28 103.898 24.5039 103.898 17.5117C103.898 10.832 107.043 7.49219 113.332 7.49219ZM107.512 15.7734H118.605C118.527 12.1797 116.77 10.3828 113.332 10.3828C109.686 10.3828 107.746 12.1797 107.512 15.7734Z"
                    fill="#EFF2F7" />
                <path
                    d="M27.1211 17.668C27.1211 22.6029 29.1719 25.0703 33.2734 25.0703C37.375 25.0703 39.4258 22.6029 39.4258 17.668C39.4258 12.8372 37.375 10.4219 33.2734 10.4219C29.1719 10.4219 27.1211 12.8372 27.1211 17.668ZM23.5078 17.7461C23.5078 10.9102 26.763 7.49219 33.2734 7.49219C39.7839 7.49219 43.0391 10.9102 43.0391 17.7461C43.0391 24.569 39.7839 27.9805 33.2734 27.9805C26.7891 27.9805 23.5339 24.569 23.5078 17.7461Z"
                    fill="#1877F2" />
            </svg>
        </a>
    </div>

    <!-- nav -->
    <nav>

<!--         <div class="mobile-nav">
            <a href="/items?gender=male">Male</a>
            <a href="/items?gender=female">Female</a>
        </div> -->

        <div class="desktop-nav">

            <div class="d-nav-1">
                <a href="/items?gender=male">Male</a>
                <a href="/items?gender=female">Female</a>
            </div>

            <div class="d-nav-2">

                <div class="search-icon-cont icon-cont" data-type="search">

                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M27.1054 25.5036L20.4414 18.5726C22.1548 16.5358 23.0936 13.973 23.0936 11.305C23.0936 5.07152 18.0221 0 11.7886 0C5.55516 0 0.483643 5.07152 0.483643 11.305C0.483643 17.5385 5.55516 22.61 11.7886 22.61C14.1288 22.61 16.3588 21.9042 18.2654 20.5643L24.9801 27.5478C25.2607 27.8393 25.6382 28 26.0427 28C26.4256 28 26.7889 27.854 27.0646 27.5886C27.6505 27.0248 27.6692 26.0899 27.1054 25.5036ZM11.7886 2.94913C16.3961 2.94913 20.1445 6.69747 20.1445 11.305C20.1445 15.9125 16.3961 19.6609 11.7886 19.6609C7.18111 19.6609 3.43277 15.9125 3.43277 11.305C3.43277 6.69747 7.18111 2.94913 11.7886 2.94913Z"
                            fill="#EFF2F7" />
                    </svg>

                </div>

                <div class="cart-icon-cont icon-cont" data-type="cart">

                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path
                                d="M8.93194 21.7789C7.31749 21.7789 6.00879 23.0877 6.00879 24.7021C6.00879 26.3165 7.31755 27.6252 8.93194 27.6252C10.5464 27.6252 11.8551 26.3165 11.8551 24.7021C11.8551 23.0877 10.5464 21.7789 8.93194 21.7789ZM8.93194 26.3261C8.03504 26.3261 7.30798 25.599 7.30798 24.7021C7.30798 23.8052 8.03504 23.0782 8.93194 23.0782C9.82884 23.0782 10.5559 23.8052 10.5559 24.7021C10.556 25.599 9.82884 26.3261 8.93194 26.3261Z"
                                fill="#EFF2F7" />
                            <path
                                d="M21.2742 21.7789C19.6598 21.7789 18.3511 23.0877 18.3511 24.7021C18.3511 26.3165 19.6598 27.6252 21.2742 27.6252C22.8886 27.6252 24.1974 26.3165 24.1974 24.7021C24.1974 23.0877 22.8887 21.7789 21.2742 21.7789ZM21.2742 26.3261C20.3773 26.3261 19.6503 25.599 19.6503 24.7021C19.6503 23.8052 20.3773 23.0782 21.2742 23.0782C22.1711 23.0782 22.8982 23.8052 22.8982 24.7021C22.8982 25.599 22.1711 26.3261 21.2742 26.3261Z"
                                fill="#EFF2F7" />
                            <path
                                d="M27.8676 4.72709C27.7323 4.57932 27.5472 4.48681 27.3479 4.46723L6.20364 4.17491L5.61901 2.38851C5.20715 1.19432 4.08887 0.388122 2.82573 0.374756H0.649596C0.290823 0.374756 0 0.665579 0 1.02435C0 1.38312 0.290823 1.67395 0.649596 1.67395H2.82573C3.53203 1.68955 4.15396 2.14307 4.38479 2.81076L8.50971 15.2505L8.18495 15.9975C7.82269 16.9316 7.93149 17.983 8.47726 18.8232C9.01781 19.6485 9.92721 20.1577 10.9133 20.1874H23.5479C23.9067 20.1874 24.1975 19.8966 24.1975 19.5378C24.1975 19.179 23.9067 18.8882 23.5479 18.8882H10.9132C10.3564 18.8743 9.84378 18.5813 9.54904 18.1087C9.2576 17.6418 9.19773 17.0666 9.38666 16.5496L9.64652 15.965L23.3205 14.5359C24.8225 14.3704 26.058 13.278 26.4061 11.8076L27.9651 5.27914C28.0354 5.09115 27.9981 4.87971 27.8676 4.72709ZM25.1393 11.5153C24.9285 12.4619 24.1248 13.1601 23.1581 13.2367L9.64652 14.6333L6.62589 5.4741L26.536 5.76642L25.1393 11.5153Z"
                                fill="#EFF2F7" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="28" height="28" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                </div>

                <div class="user-icon-cont icon-cont" data-type="user">

                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20.9542 14.9104C22.8447 13.5105 24.0758 11.2448 24.0758 8.6923C24.0758 4.45076 20.6773 1 16.5 1C12.3227 1 8.92423 4.45076 8.92423 8.6923C8.92423 11.2448 10.1553 13.5105 12.0458 14.9104C7.34626 16.7365 4 21.3631 4 26.7692C4 29.1021 5.86916 31 8.16667 31H24.8333C27.1308 31 29 29.1021 29 26.7692C29 21.3631 25.6537 16.7365 20.9542 14.9104ZM11.197 8.6923C11.197 5.72324 13.5759 3.30771 16.5 3.30771C19.4241 3.30771 21.803 5.72324 21.803 8.6923C21.803 11.6614 19.4241 14.077 16.5 14.077C13.5759 14.077 11.197 11.6614 11.197 8.6923ZM24.8333 28.6923H8.16667C7.12236 28.6923 6.27275 27.8296 6.27275 26.7692C6.27275 21.043 10.8606 16.3846 16.5001 16.3846C22.1395 16.3846 26.7274 21.043 26.7274 26.7692C26.7273 27.8296 25.8777 28.6923 24.8333 28.6923Z"
                            fill="#EFF2F7" />
                    </svg>

                    <% if(user === null) { %>

                        <div class="user-modal-notLogged notLogged-off">

                            <a href="/login" class="loginBtn">Login</a>
                            <a href="/register" class="registerBtn">Register</a>
                            
                        </div>
                        
                    <% } %>

                </div>

            </div>

        </div>


        <div class="burger">
            <div class="b b1"></div>
            <div class="b b2"></div>
            <div class="b b3"></div>
        </div>
    </nav>
</header>

<script src="/scripts/headerScript.js" defer type="module"></script>
<script src="scripts/cartScript.js" defer type="module"></script>