<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="transaction.css">
    <link rel="stylesheet" href="media.css">
    <script src="scripts/transactionScript.js" defer type="module"></script>
    <script src="scripts/cartScript.js" defer type="module"></script>
</head>

<body>



    <% if(user != null) { %>
    <!-- Header -->
    <header>
        <a class="back-cont" href="/">
            <svg width="18" height="32" viewBox="0 0 18 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="3.04757" height="22.4086" rx="1.52378"
                    transform="matrix(-0.707083 0.707131 -0.707083 -0.707131 18 29.5969)" fill="#EFF2F7" />
                <rect width="3.04757" height="22.4086" rx="1.52378"
                    transform="matrix(-0.707083 -0.707131 0.707083 -0.707131 2.1543 18.0008)" fill="#EFF2F7" />
            </svg>
        </a>

        <a href="/" class="logo">
            <svg class="logo-svg" width="123" height="28" viewBox="0 0 123 28" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.929688 28V0.0703125H4.54297V9.71875C6.28776 8.23438 8.41667 7.49219 10.9297 7.49219C16.0469 7.49219 18.6055 10.0378 18.6055 15.1289V28H14.9922V15.0703C14.9922 12.0234 13.4753 10.5 10.4414 10.5C8.37109 10.5 6.40495 11.3659 4.54297 13.0977V28H0.929688ZM50.5586 17.668C50.5586 22.6029 52.6094 25.0703 56.7109 25.0703C60.8125 25.0703 62.8633 22.6029 62.8633 17.668C62.8633 12.8372 60.8125 10.4219 56.7109 10.4219C52.6094 10.4219 50.5586 12.8372 50.5586 17.668ZM46.9453 17.7461C46.9453 10.9102 50.2005 7.49219 56.7109 7.49219C63.2214 7.49219 66.4766 10.9102 66.4766 17.7461C66.4766 24.569 63.2214 27.9805 56.7109 27.9805C50.2266 27.9805 46.9714 24.569 46.9453 17.7461ZM85.1289 11.6719C83.6706 10.9688 82.0039 10.6172 80.1289 10.6172C76.0013 10.6172 73.9375 12.8112 73.9375 17.1992C73.9375 22.3945 76.0013 24.9922 80.1289 24.9922C82.0039 24.9922 83.6706 24.7383 85.1289 24.2305V11.6719ZM88.7422 26.7695C86.2552 27.5898 83.1888 28 79.543 28C73.4362 28 70.3828 24.4453 70.3828 17.3359C70.3828 10.7734 73.625 7.49219 80.1094 7.49219C81.8802 7.49219 83.5534 7.81771 85.1289 8.46875V0.0703125H88.7422V26.7695ZM98.6055 7.49219V28H94.9922V7.49219H98.6055ZM98.6055 0.0703125V3.48828H94.9922V0.0703125H98.6055ZM113.332 7.49219C119.165 7.49219 122.082 10.3763 122.082 16.1445C122.082 16.9648 122.023 17.8438 121.906 18.7812H107.512C107.512 22.974 109.96 25.0703 114.855 25.0703C117.186 25.0703 119.257 24.8099 121.066 24.2891V27.2188C119.257 27.7396 117.056 28 114.465 28C107.421 28 103.898 24.5039 103.898 17.5117C103.898 10.832 107.043 7.49219 113.332 7.49219ZM107.512 15.7734H118.605C118.527 12.1797 116.77 10.3828 113.332 10.3828C109.686 10.3828 107.746 12.1797 107.512 15.7734Z"
                    fill="#EFF2F7" />
                <path
                    d="M27.1211 17.668C27.1211 22.6029 29.1719 25.0703 33.2734 25.0703C37.375 25.0703 39.4258 22.6029 39.4258 17.668C39.4258 12.8372 37.375 10.4219 33.2734 10.4219C29.1719 10.4219 27.1211 12.8372 27.1211 17.668ZM23.5078 17.7461C23.5078 10.9102 26.763 7.49219 33.2734 7.49219C39.7839 7.49219 43.0391 10.9102 43.0391 17.7461C43.0391 24.569 39.7839 27.9805 33.2734 27.9805C26.7891 27.9805 23.5339 24.569 23.5078 17.7461Z"
                    fill="#1877F2" />
            </svg>
        </a>

    </header>





    <!-- Main -->
    <form action="/placeorder" method="POST">


        <!-- Steps -->
        <div class="steps-cont">

            <div class="steps">

                <div class="s-order step active-step" data-num="1">
                    1
                    <div class="step-desc">Order</div>
                </div>

                <div class="s-delivery step" data-num="2">
                    2
                    <div class="step-desc">Delivery</div>
                </div>

                <div class="s-payment step" data-num="3">
                    3
                    <div class="step-desc">Payment</div>
                </div>

                <div class="progress-line"></div>
            </div>

        </div>


        <!-- Order -->

        <div class="order-cont main-cont active-cont" data-num="1">

            <h3>Your Order</h3>


            <!-- Items -->
            <div class="cart-items">

            </div>



            <!-- Rest of Order Informations -->
            <h5>Have a discount?</h5>

            <div class="discount-cont">
                <input type="text" class="discount" name="discount">
                <button>Check</button>
            </div>

            <div class="total-cont">
                <h4>Total</h4>
                <div class="total">149.99$</div>
            </div>

            <div class="btns">
                <button class="delivery-btn" data-num="2">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path
                                d="M24.1674 19.0252C21.9432 19.0252 20.1338 20.8346 20.1338 23.0588C20.1338 25.283 21.9432 27.0925 24.1674 27.0925C26.392 27.0925 28.201 25.283 28.201 23.0588C28.201 20.8346 26.3916 19.0252 24.1674 19.0252ZM24.1674 25.0756C23.0552 25.0756 22.1506 24.1711 22.1506 23.0588C22.1506 21.9466 23.0552 21.042 24.1674 21.042C25.2797 21.042 26.1842 21.9466 26.1842 23.0588C26.1842 24.1711 25.2797 25.0756 24.1674 25.0756Z"
                                fill="black" />
                            <path
                                d="M10.3862 19.0252C8.16198 19.0252 6.35254 20.8346 6.35254 23.0588C6.35254 25.283 8.16198 27.0925 10.3862 27.0925C12.6104 27.0925 14.4198 25.283 14.4198 23.0588C14.4198 20.8346 12.6104 19.0252 10.3862 19.0252ZM10.3862 25.0756C9.27391 25.0756 8.36935 24.1711 8.36935 23.0588C8.36935 21.9466 9.27391 21.042 10.3862 21.042C11.4981 21.042 12.403 21.9466 12.403 23.0588C12.403 24.1711 11.4984 25.0756 10.3862 25.0756Z"
                                fill="black" />
                            <path
                                d="M26.884 7.47969C26.7126 7.13919 26.364 6.92438 25.9828 6.92438H20.6719V8.94119H25.3609L28.1068 14.4027L29.9092 13.4964L26.884 7.47969Z"
                                fill="black" />
                            <path d="M21.1429 22.084H13.5127V24.1009H21.1429V22.084Z" fill="black" />
                            <path
                                d="M7.36155 22.084H3.8658C3.3088 22.084 2.85742 22.5355 2.85742 23.0924C2.85742 23.6494 3.30886 24.1008 3.8658 24.1008H7.36161C7.91861 24.1008 8.36998 23.6494 8.36998 23.0924C8.36998 22.5354 7.91855 22.084 7.36155 22.084Z"
                                fill="black" />
                            <path
                                d="M31.7885 15.9193L29.805 13.3647C29.6144 13.1187 29.3203 12.9748 29.0087 12.9748H21.6809V5.91597C21.6809 5.35897 21.2295 4.90759 20.6725 4.90759H3.8658C3.3088 4.90759 2.85742 5.35903 2.85742 5.91597C2.85742 6.4729 3.30886 6.92434 3.8658 6.92434H19.6641V13.9832C19.6641 14.5402 20.1155 14.9915 20.6725 14.9915H28.5149L29.9834 16.8833V22.084H27.1935C26.6365 22.084 26.1851 22.5354 26.1851 23.0923C26.1851 23.6493 26.6365 24.1007 27.1935 24.1007H30.9918C31.5488 24.1007 32.0002 23.6493 32.0002 23.0923V16.5378C32.0002 16.314 31.9256 16.0962 31.7885 15.9193Z"
                                fill="black" />
                            <path
                                d="M7.29452 16.9748H2.65584C2.09884 16.9748 1.64746 17.4262 1.64746 17.9832C1.64746 18.5402 2.0989 18.9915 2.65584 18.9915H7.29446C7.85146 18.9915 8.30284 18.5401 8.30284 17.9832C8.3029 17.4262 7.85146 16.9748 7.29452 16.9748Z"
                                fill="black" />
                            <path
                                d="M9.61344 13.0084H1.00838C0.451438 13.0084 0 13.4598 0 14.0168C0 14.5738 0.451438 15.0252 1.00838 15.0252H9.61344C10.1704 15.0252 10.6218 14.5737 10.6218 14.0168C10.6218 13.4599 10.1704 13.0084 9.61344 13.0084Z"
                                fill="black" />
                            <path
                                d="M11.2609 9.04199H2.65584C2.09884 9.04199 1.64746 9.49343 1.64746 10.0504C1.64746 10.6074 2.0989 11.0587 2.65584 11.0587H11.2609C11.8179 11.0587 12.2693 10.6073 12.2693 10.0504C12.2693 9.49343 11.8179 9.04199 11.2609 9.04199Z"
                                fill="black" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="32" height="32" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <div>Delivery</div>
                </button>
                <button class="remove-all">
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path
                                d="M14.6724 8.33295C14.3749 8.33295 14.1338 8.57407 14.1338 8.87159V19.0519C14.1338 19.3492 14.3749 19.5905 14.6724 19.5905C14.9699 19.5905 15.2111 19.3492 15.2111 19.0519V8.87159C15.2111 8.57407 14.9699 8.33295 14.6724 8.33295Z"
                                fill="black" />
                            <path
                                d="M8.31598 8.33295C8.01847 8.33295 7.77734 8.57407 7.77734 8.87159V19.0519C7.77734 19.3492 8.01847 19.5905 8.31598 19.5905C8.6135 19.5905 8.85462 19.3492 8.85462 19.0519V8.87159C8.85462 8.57407 8.6135 8.33295 8.31598 8.33295Z"
                                fill="black" />
                            <path
                                d="M3.68412 6.84726V20.1182C3.68412 20.9026 3.97175 21.6392 4.4742 22.1678C4.97433 22.6978 5.67036 22.9987 6.39878 22.9999H16.59C17.3186 22.9987 18.0147 22.6978 18.5146 22.1678C19.017 21.6392 19.3047 20.9026 19.3047 20.1182V6.84726C20.3035 6.58215 20.9507 5.61723 20.8171 4.59234C20.6833 3.56766 19.8103 2.80115 18.7768 2.80094H16.019V2.12764C16.0221 1.56143 15.7983 1.01774 15.3974 0.617763C14.9966 0.217991 14.4521 -0.0046192 13.8859 9.73773e-06H9.10292C8.53672 -0.0046192 7.99219 0.217991 7.59136 0.617763C7.19054 1.01774 6.96667 1.56143 6.96982 2.12764V2.80094H4.21203C3.17852 2.80115 2.30554 3.56766 2.17172 4.59234C2.03811 5.61723 2.68532 6.58215 3.68412 6.84726ZM16.59 21.9227H6.39878C5.47783 21.9227 4.7614 21.1315 4.7614 20.1182V6.8946H18.2274V20.1182C18.2274 21.1315 17.511 21.9227 16.59 21.9227ZM8.0471 2.12764C8.04353 1.84717 8.15378 1.57722 8.35282 1.37922C8.55166 1.18123 8.82224 1.07245 9.10292 1.07729H13.8859C14.1666 1.07245 14.4371 1.18123 14.636 1.37922C14.835 1.577 14.9453 1.84717 14.9417 2.12764V2.80094H8.0471V2.12764ZM4.21203 3.87822H18.7768C19.3122 3.87822 19.7463 4.31229 19.7463 4.84777C19.7463 5.38325 19.3122 5.81732 18.7768 5.81732H4.21203C3.67655 5.81732 3.24248 5.38325 3.24248 4.84777C3.24248 4.31229 3.67655 3.87822 4.21203 3.87822Z"
                                fill="black" />
                            <path
                                d="M11.4947 8.33295C11.1972 8.33295 10.9561 8.57407 10.9561 8.87159V19.0519C10.9561 19.3492 11.1972 19.5905 11.4947 19.5905C11.7922 19.5905 12.0333 19.3492 12.0333 19.0519V8.87159C12.0333 8.57407 11.7922 8.33295 11.4947 8.33295Z"
                                fill="black" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="23" height="23" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </div>


        </div>








        <!-- --- Delivery --- -->
        <div class="delivery-cont main-cont" data-num="2">
            <h3>Delivery Details</h3>

            <div class="inputs">

                <div class="city-cont cont">

                    <label class="city-label">
                        <div>City</div>
                        <input type="text" class="city" name="city" required>
                    </label>

                    <label class="code-label">
                        <div>Post Code</div>
                        <input type="text" class="postCode" name="postcode" required>
                    </label>

                </div>

                <div class="address-cont cont">
                    <label class="address-label">
                        <div>Address</div>
                        <input type="text" class="address" name="address" required>
                    </label>
                </div>

                <div class="country-cont cont">
                    <label class="country-label">
                        <div>Country</div>
                        <input type="text" class="country" name="country" required>
                    </label>
                </div>

                <div class="phone-cont cont">
                    <label class="phone-label">
                        <div>Phone Number</div>
                        <input type="number" class="phone-nr" name="phonenr" required>
                    </label>
                </div>

                <div class="options-cont cont">

                    <label class="radio-parent">
                        <div class="delivery-method radio active-radio" data-val="standard"></div>
                        <p>Standard Delivery <span>(5$)</span></p>
                    </label>

                    <label class="radio-parent">
                        <div class="delivery-method radio" data-val="Express"></div>
                        <p>Express Delivery <span>(10$)</span></p>
                    </label>

                </div>

                <div class="delivery-total-cont cont">
                    <h4>Total</h4>
                    <div class="delivery-total">149.99$</div>
                </div>

                <button class="payment-section-btn" data-num="3">
                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M32.9531 5.78125H4.04688C1.81546 5.78125 0 7.59671 0 9.82812V27.1719C0 29.4033 1.81546 31.2188 4.04688 31.2188H32.9531C35.1845 31.2188 37 29.4033 37 27.1719V9.82812C37 7.59671 35.1845 5.78125 32.9531 5.78125ZM4.04688 8.09375H32.9531C33.9094 8.09375 34.6875 8.87183 34.6875 9.82812V12.1406H2.3125V9.82812C2.3125 8.87183 3.09058 8.09375 4.04688 8.09375ZM32.9531 28.9062H4.04688C3.09058 28.9062 2.3125 28.1282 2.3125 27.1719V14.4531H34.6875V27.1719C34.6875 28.1282 33.9094 28.9062 32.9531 28.9062Z"
                            fill="#0D0F11" />
                        <path
                            d="M8.09375 25.4375H6.9375C6.29896 25.4375 5.78125 24.9198 5.78125 24.2812V23.125C5.78125 22.4865 6.29896 21.9688 6.9375 21.9688H8.09375C8.73229 21.9688 9.25 22.4865 9.25 23.125V24.2812C9.25 24.9198 8.73229 25.4375 8.09375 25.4375Z"
                            fill="#0D0F11" />
                    </svg>
                    <span>Payment</span>
                </button>
            </div>
        </div>





        <!-- --- Payment --- -->
        <div class="payment-cont main-cont" data-num="3">
            <h3>Payment Method</h3>

            <div class="payment-methods">

                <div class="paypal-cont payment-method-cont radio-parent">

                    <div class="payment-icon-cont">
                        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M36.1337 9.12678C35.7661 8.67249 35.3387 8.25769 34.8651 7.88748C34.9284 9.06212 34.8196 10.3136 34.5366 11.6382C33.764 15.2573 31.9167 18.3326 29.1943 20.531C26.4742 22.728 23.0775 23.8894 19.3718 23.8894H13.9679L12.2187 32.0844C11.8752 33.6926 10.4328 34.8596 8.78866 34.8596H6.35269L5.91406 36.8731C5.80141 37.3916 5.92929 37.9333 6.26215 38.3464C6.59483 38.7596 7.09713 39 7.62781 39H13.5828C14.4102 39 15.1253 38.4216 15.2979 37.6124L17.3432 28.0295H24.1659C27.4663 28.0295 30.4817 27.0029 32.8868 25.0607C35.293 23.1177 36.9282 20.3874 37.6157 17.1657C38.3121 13.9081 37.8134 11.2034 36.1337 9.12678Z"
                                fill="#888D97" />
                            <path
                                d="M10.504 31.7182L12.5494 22.1355H19.3721C22.6722 22.1355 25.6879 21.1088 28.0929 19.1666C30.4988 17.2236 32.1342 14.4932 32.822 11.2716C33.518 8.01394 33.0196 5.30931 31.3396 3.23271C29.7271 1.23867 26.9705 0 24.1463 0H9.28138C8.4567 0 7.74342 0.57465 7.56781 1.38034L1.12022 30.9792C1.00738 31.4976 1.13526 32.0393 1.4683 32.4526C1.80081 32.8657 2.30292 33.1059 2.83378 33.1059H8.78893C9.61639 33.1059 10.331 32.5276 10.504 31.7182ZM15.9615 6.7424H20.6387C21.739 6.7424 22.7229 7.2035 23.3382 8.00767C23.9917 8.8619 24.1828 10.0431 23.8624 11.2483C23.8582 11.2637 23.8545 11.279 23.8506 11.2946C23.2623 13.7778 20.8156 15.7982 18.3972 15.7982H13.9151L15.9615 6.7424Z"
                                fill="#888D97" />
                        </svg>
                    </div>

                    <h5>Paypal</h5>
                    <div class="payment-method payment-method-paypal radio active-radio" data-val="paypal"></div>

                </div>

                <div class="card-cont payment-method-cont radio-parent">

                    <div class="payment-icon-cont">
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M30.2812 5.3125H3.71875C1.66826 5.3125 0 6.98076 0 9.03125V24.9688C0 27.0192 1.66826 28.6875 3.71875 28.6875H30.2812C32.3317 28.6875 34 27.0192 34 24.9688V9.03125C34 6.98076 32.3317 5.3125 30.2812 5.3125ZM3.71875 7.4375H30.2812C31.16 7.4375 31.875 8.1525 31.875 9.03125V11.1562H2.125V9.03125C2.125 8.1525 2.84 7.4375 3.71875 7.4375ZM30.2812 26.5625H3.71875C2.84 26.5625 2.125 25.8475 2.125 24.9688V13.2812H31.875V24.9688C31.875 25.8475 31.16 26.5625 30.2812 26.5625Z"
                                fill="#888D97" />
                            <path
                                d="M7.4375 23.375H6.375C5.78823 23.375 5.3125 22.8993 5.3125 22.3125V21.25C5.3125 20.6632 5.78823 20.1875 6.375 20.1875H7.4375C8.02427 20.1875 8.5 20.6632 8.5 21.25V22.3125C8.5 22.8993 8.02427 23.375 7.4375 23.375Z"
                                fill="#888D97" />
                        </svg>
                    </div>

                    <h5>Credit Card</h5>
                    <div class="payment-method payment-method-card radio" data-val="card"></div>

                </div>



                <div class="total-cont">
                    <h4>Total</h4>
                    <div class="total">149.99$</div>
                </div>



                <button class="pay-now">
                    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M32.9531 5.78125H4.04688C1.81546 5.78125 0 7.59671 0 9.82812V27.1719C0 29.4033 1.81546 31.2188 4.04688 31.2188H32.9531C35.1845 31.2188 37 29.4033 37 27.1719V9.82812C37 7.59671 35.1845 5.78125 32.9531 5.78125ZM4.04688 8.09375H32.9531C33.9094 8.09375 34.6875 8.87183 34.6875 9.82812V12.1406H2.3125V9.82812C2.3125 8.87183 3.09058 8.09375 4.04688 8.09375ZM32.9531 28.9062H4.04688C3.09058 28.9062 2.3125 28.1282 2.3125 27.1719V14.4531H34.6875V27.1719C34.6875 28.1282 33.9094 28.9062 32.9531 28.9062Z"
                            fill="#0D0F11" />
                        <path
                            d="M8.09375 25.4375H6.9375C6.29896 25.4375 5.78125 24.9198 5.78125 24.2812V23.125C5.78125 22.4865 6.29896 21.9688 6.9375 21.9688H8.09375C8.73229 21.9688 9.25 22.4865 9.25 23.125V24.2812C9.25 24.9198 8.73229 25.4375 8.09375 25.4375Z"
                            fill="#0D0F11" />
                    </svg>
                    <div>Pay Now</div>
                </button>
            </div>
        </div>

    </form>


    <% } else { %>


        <div class="fail-cont">
            <h4 class="notLogged-info">You have to be logged in to create an order.</h4>
            
            <div class="fail-btns">

                <a href="/login" class="loginBtn">Login</a>
                <a href="/register" class="registerBtn">Register</a>

            </div>
        </div>
    <% } %>

<!--     <script>
        // Quantity control
        const quantities = document.querySelectorAll('.quant-value') || null

        if (quantities.length > 1 && quantities !== null) {

            quantities.forEach(quant => {

                quant.addEventListener('click', e => {
                    const select = quant.parentElement.childNodes[7];
                    select.classList.toggle('quantity-select-off')
                    quant.parentElement.classList.toggle('quant-cont-border')
                })
            })
        }
    </script> -->
</body>

</html>