<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
    <script src="scripts/loginScript.js" defer type="module"></script>
</head>

<body>


    <header>
        <a href="/">
            <svg class="logo-svg" width="123" height="28" viewBox="0 0 123 28" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.929688 28V0.0703125H4.54297V9.71875C6.28776 8.23438 8.41667 7.49219 10.9297 7.49219C16.0469 7.49219 18.6055 10.0378 18.6055 15.1289V28H14.9922V15.0703C14.9922 12.0234 13.4753 10.5 10.4414 10.5C8.37109 10.5 6.40495 11.3659 4.54297 13.0977V28H0.929688ZM50.5586 17.668C50.5586 22.6029 52.6094 25.0703 56.7109 25.0703C60.8125 25.0703 62.8633 22.6029 62.8633 17.668C62.8633 12.8372 60.8125 10.4219 56.7109 10.4219C52.6094 10.4219 50.5586 12.8372 50.5586 17.668ZM46.9453 17.7461C46.9453 10.9102 50.2005 7.49219 56.7109 7.49219C63.2214 7.49219 66.4766 10.9102 66.4766 17.7461C66.4766 24.569 63.2214 27.9805 56.7109 27.9805C50.2266 27.9805 46.9714 24.569 46.9453 17.7461ZM85.1289 11.6719C83.6706 10.9688 82.0039 10.6172 80.1289 10.6172C76.0013 10.6172 73.9375 12.8112 73.9375 17.1992C73.9375 22.3945 76.0013 24.9922 80.1289 24.9922C82.0039 24.9922 83.6706 24.7383 85.1289 24.2305V11.6719ZM88.7422 26.7695C86.2552 27.5898 83.1888 28 79.543 28C73.4362 28 70.3828 24.4453 70.3828 17.3359C70.3828 10.7734 73.625 7.49219 80.1094 7.49219C81.8802 7.49219 83.5534 7.81771 85.1289 8.46875V0.0703125H88.7422V26.7695ZM98.6055 7.49219V28H94.9922V7.49219H98.6055ZM98.6055 0.0703125V3.48828H94.9922V0.0703125H98.6055ZM113.332 7.49219C119.165 7.49219 122.082 10.3763 122.082 16.1445C122.082 16.9648 122.023 17.8438 121.906 18.7812H107.512C107.512 22.974 109.96 25.0703 114.855 25.0703C117.186 25.0703 119.257 24.8099 121.066 24.2891V27.2188C119.257 27.7396 117.056 28 114.465 28C107.421 28 103.898 24.5039 103.898 17.5117C103.898 10.832 107.043 7.49219 113.332 7.49219ZM107.512 15.7734H118.605C118.527 12.1797 116.77 10.3828 113.332 10.3828C109.686 10.3828 107.746 12.1797 107.512 15.7734Z"
                    fill="#EFF2F7" />
                <path
                    d="M27.1211 17.668C27.1211 22.6029 29.1719 25.0703 33.2734 25.0703C37.375 25.0703 39.4258 22.6029 39.4258 17.668C39.4258 12.8372 37.375 10.4219 33.2734 10.4219C29.1719 10.4219 27.1211 12.8372 27.1211 17.668ZM23.5078 17.7461C23.5078 10.9102 26.763 7.49219 33.2734 7.49219C39.7839 7.49219 43.0391 10.9102 43.0391 17.7461C43.0391 24.569 39.7839 27.9805 33.2734 27.9805C26.7891 27.9805 23.5339 24.569 23.5078 17.7461Z"
                    fill="#1877F2" />
            </svg>
        </a>
    </header>

    <main>
        <form action="/register" method="POST" autocomplete="off">

            <h2>Register</h2>


            <!-- First Name -->
            <label class="fname-cont cont">

                <div class="svg-cont">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.0001 9.84208C13.718 9.84208 15.9212 7.63885 15.9212 4.92104C15.9212 2.20322 13.718 0 11.0001 0C8.28233 0 6.0791 2.20322 6.0791 4.92104C6.0791 7.63885 8.28233 9.84208 11.0001 9.84208Z"
                            fill="black" />
                        <path
                            d="M11.0001 11C6.20399 11 2.31592 14.8881 2.31592 19.6842C2.31592 20.9632 3.35275 22 4.63172 22H17.3686C18.6475 22 19.6844 20.9632 19.6844 19.6842C19.6843 14.8881 15.7962 11 11.0001 11Z"
                            fill="black" />
                    </svg>
                </div>

                <div class="input-cont">
                    <div class="placeholder">First Name</div>
                    <input type="text" name="name" required>
                </div>

            </label>

            <!-- Last Name-->

            <label class="lname-cont cont">

                <div class="svg-cont">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.0001 9.84208C13.718 9.84208 15.9212 7.63885 15.9212 4.92104C15.9212 2.20322 13.718 0 11.0001 0C8.28233 0 6.0791 2.20322 6.0791 4.92104C6.0791 7.63885 8.28233 9.84208 11.0001 9.84208Z"
                            fill="black" />
                        <path
                            d="M11.0001 11C6.20399 11 2.31592 14.8881 2.31592 19.6842C2.31592 20.9632 3.35275 22 4.63172 22H17.3686C18.6475 22 19.6844 20.9632 19.6844 19.6842C19.6843 14.8881 15.7962 11 11.0001 11Z"
                            fill="black" />
                    </svg>
                </div>

                <div class="input-cont">
                    <div class="placeholder">Last Name</div>
                    <input type="text" name="lastName" required>
                </div>

            </label>


            <!-- Date -->

            <label class="date-cont cont">

                <div class="svg-cont">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M19.4219 1.71875H18.3906V0H16.6719V1.71875H5.32812V0H3.60938V1.71875H2.57812C1.15655 1.71875 0 2.8753 0 4.29688V19.4219C0 20.8435 1.15655 22 2.57812 22H19.4219C20.8435 22 22 20.8435 22 19.4219V4.29688C22 2.8753 20.8435 1.71875 19.4219 1.71875ZM20.2812 19.4219C20.2812 19.8957 19.8957 20.2812 19.4219 20.2812H2.57812C2.10427 20.2812 1.71875 19.8957 1.71875 19.4219V8.07812H20.2812V19.4219ZM20.2812 6.35938H1.71875V4.29688C1.71875 3.82302 2.10427 3.4375 2.57812 3.4375H3.60938V5.15625H5.32812V3.4375H16.6719V5.15625H18.3906V3.4375H19.4219C19.8957 3.4375 20.2812 3.82302 20.2812 4.29688V6.35938Z"
                            fill="black" />
                        <path d="M4.98438 9.88281H3.26562V11.6016H4.98438V9.88281Z" fill="black" />
                        <path d="M8.42188 9.88281H6.70312V11.6016H8.42188V9.88281Z" fill="black" />
                        <path d="M11.8594 9.88281H10.1406V11.6016H11.8594V9.88281Z" fill="black" />
                        <path d="M15.2969 9.88281H13.5781V11.6016H15.2969V9.88281Z" fill="black" />
                        <path d="M18.7344 9.88281H17.0156V11.6016H18.7344V9.88281Z" fill="black" />
                        <path d="M4.98438 13.3203H3.26562V15.0391H4.98438V13.3203Z" fill="black" />
                        <path d="M8.42188 13.3203H6.70312V15.0391H8.42188V13.3203Z" fill="black" />
                        <path d="M11.8594 13.3203H10.1406V15.0391H11.8594V13.3203Z" fill="black" />
                        <path d="M15.2969 13.3203H13.5781V15.0391H15.2969V13.3203Z" fill="black" />
                        <path d="M4.98438 16.7578H3.26562V18.4766H4.98438V16.7578Z" fill="black" />
                        <path d="M8.42188 16.7578H6.70312V18.4766H8.42188V16.7578Z" fill="black" />
                        <path d="M11.8594 16.7578H10.1406V18.4766H11.8594V16.7578Z" fill="black" />
                        <path d="M15.2969 16.7578H13.5781V18.4766H15.2969V16.7578Z" fill="black" />
                        <path d="M18.7344 13.3203H17.0156V15.0391H18.7344V13.3203Z" fill="black" />
                    </svg>
                </div>

                <div class="input-cont">
                    <div class="placeholder">dd-mm-yyyy</div>
                    <input type="text" name="date" required>
                </div>

            </label>

            <!-- Email -->
            <label class="email-cont cont">

                <div class="svg-cont">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path d="M14.584 11.1128L22.0007 15.8015V6.22601L14.584 11.1128Z" fill="black" />
                            <path d="M0 6.22601V15.8015L7.41675 11.1128L0 6.22601Z" fill="black" />
                            <path
                                d="M20.6248 3.4375H1.37477C0.688641 3.4375 0.144141 3.949 0.0410156 4.60763L10.9998 11.8278L21.9585 4.60763C21.8554 3.949 21.3109 3.4375 20.6248 3.4375Z"
                                fill="black" />
                            <path
                                d="M13.3237 11.9432L11.3781 13.2247C11.2626 13.3003 11.1319 13.3375 10.9999 13.3375C10.8679 13.3375 10.7373 13.3003 10.6218 13.2247L8.6762 11.9418L0.0439453 17.402C0.14982 18.0551 0.69157 18.5625 1.37495 18.5625H20.6249C21.3083 18.5625 21.8501 18.0551 21.9559 17.402L13.3237 11.9432Z"
                                fill="black" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="22" height="22" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>

                <div class="input-cont">
                    <div class="placeholder">Email</div>
                    <input type="text" name="email" required>
                </div>

            </label>

            <!-- Password -->
            <label class="password-cont cont">

                <div class="svg-cont">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.7619 6.93842C21.7619 6.00172 21.5777 5.09396 21.2172 4.2362C20.8673 3.41001 20.3674 2.66802 19.7306 2.03127C19.0939 1.39452 18.3519 0.894601 17.5257 0.544654C16.6706 0.181551 15.7602 0 14.8235 0C13.8868 0 12.979 0.184183 12.1213 0.544654C11.2951 0.894601 10.5531 1.39452 9.91633 2.03127C9.27959 2.66802 8.77967 3.41001 8.42972 4.2362C8.06662 5.09133 7.88506 6.00172 7.88506 6.93842C7.88506 8.10929 8.17976 9.25649 8.7402 10.2774L0.433565 18.5761C0.241489 18.7682 0.180972 19.0603 0.299375 19.3365C0.323056 19.3944 0.362523 19.447 0.407254 19.4917L2.2675 21.352C2.31223 21.3967 2.36485 21.4336 2.42274 21.4599C2.69901 21.5783 2.99107 21.5204 3.18315 21.3257L4.33297 20.1759L5.98798 21.8309C6.03271 21.8756 6.08534 21.9124 6.1432 21.9387C6.41947 22.0571 6.71156 21.9993 6.90361 21.8046L8.73754 19.9706C8.78227 19.9259 8.81911 19.8733 8.84542 19.8154C8.96382 19.5391 8.90594 19.247 8.71123 19.055L7.08253 17.4263L11.4819 13.0243C12.5001 13.5848 13.65 13.8795 14.8208 13.8795C15.7575 13.8795 16.6653 13.6953 17.523 13.3348C18.3492 12.9849 19.0912 12.4849 19.728 11.8482C20.3647 11.2115 20.8646 10.4695 21.2146 9.64327C21.5777 8.78288 21.7619 7.87512 21.7619 6.93842ZM17.2547 9.37226C16.6048 10.0222 15.7391 10.38 14.8209 10.38C13.9026 10.38 13.0369 10.0222 12.387 9.37226C11.7371 8.72236 11.3767 7.8567 11.3767 6.93842C11.3767 6.01751 11.7345 5.15448 12.3844 4.50458C13.0343 3.85468 13.9 3.49684 14.8182 3.49684C15.7365 3.49684 16.6022 3.85468 17.2521 4.50458C17.902 5.15448 18.2598 6.02014 18.2598 6.93842C18.2651 7.8567 17.9072 8.72236 17.2547 9.37226Z"
                            fill="black" />
                    </svg>
                </div>

                <div class="input-cont">
                    <div class="placeholder">Password</div>
                    <input type="password" name="password" class="password" required>
                </div>

            </label>



            <!-- Repeat Password -->
            <label class="rpassword-cont cont">

                <div class="svg-cont">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.7619 6.93842C21.7619 6.00172 21.5777 5.09396 21.2172 4.2362C20.8673 3.41001 20.3674 2.66802 19.7306 2.03127C19.0939 1.39452 18.3519 0.894601 17.5257 0.544654C16.6706 0.181551 15.7602 0 14.8235 0C13.8868 0 12.979 0.184183 12.1213 0.544654C11.2951 0.894601 10.5531 1.39452 9.91633 2.03127C9.27959 2.66802 8.77967 3.41001 8.42972 4.2362C8.06662 5.09133 7.88506 6.00172 7.88506 6.93842C7.88506 8.10929 8.17976 9.25649 8.7402 10.2774L0.433565 18.5761C0.241489 18.7682 0.180972 19.0603 0.299375 19.3365C0.323056 19.3944 0.362523 19.447 0.407254 19.4917L2.2675 21.352C2.31223 21.3967 2.36485 21.4336 2.42274 21.4599C2.69901 21.5783 2.99107 21.5204 3.18315 21.3257L4.33297 20.1759L5.98798 21.8309C6.03271 21.8756 6.08534 21.9124 6.1432 21.9387C6.41947 22.0571 6.71156 21.9993 6.90361 21.8046L8.73754 19.9706C8.78227 19.9259 8.81911 19.8733 8.84542 19.8154C8.96382 19.5391 8.90594 19.247 8.71123 19.055L7.08253 17.4263L11.4819 13.0243C12.5001 13.5848 13.65 13.8795 14.8208 13.8795C15.7575 13.8795 16.6653 13.6953 17.523 13.3348C18.3492 12.9849 19.0912 12.4849 19.728 11.8482C20.3647 11.2115 20.8646 10.4695 21.2146 9.64327C21.5777 8.78288 21.7619 7.87512 21.7619 6.93842ZM17.2547 9.37226C16.6048 10.0222 15.7391 10.38 14.8209 10.38C13.9026 10.38 13.0369 10.0222 12.387 9.37226C11.7371 8.72236 11.3767 7.8567 11.3767 6.93842C11.3767 6.01751 11.7345 5.15448 12.3844 4.50458C13.0343 3.85468 13.9 3.49684 14.8182 3.49684C15.7365 3.49684 16.6022 3.85468 17.2521 4.50458C17.902 5.15448 18.2598 6.02014 18.2598 6.93842C18.2651 7.8567 17.9072 8.72236 17.2547 9.37226Z"
                            fill="black" />
                    </svg>
                </div>

                <div class="input-cont">
                    <div class="placeholder">Repeat Password</div>
                    <input type="password" name="repeat-password" class="password-repeat" required>
                </div>

            </label>

            <button class="submitBtn">Submit</button>
            <a href="./login" class="login">Already have an account? <br><span class="blue">Login
                    instead</span></a>

        </form>
    </main>

</body>

</html>